<!doctype html>
<html>
  <head>
    <title>Starter App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="menu">
        <h1 class="title">Spine</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/static">Static</a></li>
        <li><a href="/interactive">Interactive</a></li>
      </ul>
    </nav>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <div class="colors">
    {{{content}}}
    </div>
  </body>
</html>
