<div class="center">
  <h1>Welcome to Spine</h1>
  <p>
    Think of this as the Spine to your application. It uses <a href="http://backbonejs.org/">Backbone</a> for structure, <a href="http://hapijs.com/">Hapi</a> for server management and routing, <a href="http://lesscss.org/">LESS</a> as a css preprocessor and <a href="http://gruntjs.com/">Grunt</a> as a task runner
  </p>

  <p>
    There are many other examples of a starter kit that are also out there. For example <a href="https://developers.google.com/web/tools/starter-kit/">https://developers.google.com/web/tools/starter-kit/</a> is an excellent one to use.
  </p>


  <p>
    Although the Google web starter kit is an excellent tool it is very complex for someone starting out. Because of that, I made this barebones kit with a few pieces just to get you going with the basics. I left out a few tools that you should add, on purpose, because they were pieces I had trouble learning why/how they worked.
  </p>
  <button><a href="/static">Next</a></button>
</div>
