<div class="center">
  <h1>Static</h1>
  <p>
    That was Hapi in action. We used its routing to make the content of the page change dynamically without having to refresh the entire browser window. The header gets to stay there without having to refresh because it is part of our "template". Have you ever heard of a single page application? or a SAP? Well this is one! Congratulations your fancy now!
  </p>
  <p>
    One of the first tools you should would be live reloading of your web page. It lets your browser reload as changes are made! No more having to crtl+s then ctrl+f5 in your browser window. It will do it for you!! It is great for styling and layout changes.
  </p>
  <p>
    Honestly I could have added the livereload for you pretty easily but it is more fun to do it yourself!! So when you type grunt into your command line it launches a series of tasks as specified in your <a href="http://gruntjs.com/getting-started#the-gruntfile">Gruntfile</a> this would be a good time to check it out and look into how it works.
  </p>
  <p>
    There is a world of tools that you open up with a task runner like browserify, uglify, concat... you get the idea. For now lets get livereload working for you.
  </p>
  <button><a href="/interactive">Next</a></button>
</div>
